/*===========================
      1. Hack-a-bit CSS 
===========================*/

#hackabit-section{
  background-color: #F0F2F5;
}
.hackabit-section-heading{
  text-align: center;
  color: #ad04bd;
  margin-top: 90px;
  padding: 30px;
  font-size: 35px;
}
.hackabit-section-heading i{
  padding: 0 30px;
}

.hackabit-description{
  padding-top: 30px;
  word-spacing: 3px;
  text-align: center;
}
.hackabit-text button{
  margin: 10px 60px;
  color: #fff;
  border-color: #49055a;
  background-color: #ad04bd;
  border-radius: 5px;
}
.hackabit-text button:hover{
  color: #ad04bd;
  border-color: #ad04bd;
  background-color: #fff;
  border-radius: 5px;;
}
.hackabit-image{
  margin: 0;
  padding: 0px 10px;
  display: grid;
  height: 100%;
}
.hackabit-image img{
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
  padding: 20px;
}
